In [3]:
# Simple Calculator

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

print(f"Addition: {num1+num2}\nSubtraction: {num1-num2}\nMultiplication: {num1*num2}\nDivision: {num1/num2}")

Enter the first number:  45
Enter the second number:  65

Addition: 110.0
Subtraction: -20.0
Multiplication: 2925.0
Division: 0.6923076923076923

In [13]:
# Even or Odd

def even_or_odd(n):
    if n%2==0:
        return "The number is Even."
    else:
        return "The number is Odd."

print(even_or_odd(2))
print(even_or_odd(33))

The number is Even.
The number is Odd.

In [15]:
# Voting Eligibility

Age = int(input("Enter your Age: "))

# TODO: Check if age >= 18
if Age >= 18:
    print("You are eligible to Vote.")
else:
    print("Better Luck next time!")

Enter your Age:  16

Better Luck next time!

In [21]:
# Swap Variables

a=int(input("Enter the value of the 1st number: "))
b=int(input("Enter the value of the 2nd number: "))

temp=a
a=b
b=temp

print("After Swap using third Variable: ",a,b)

a=int(input("Enter the value of the 1st number: "))
b=int(input("Enter the value of the 2nd number: "))
a,b=b,a

print("After Swap without using third Variable: ",a,b)

Enter the value of the 1st number:  23
Enter the value of the 2nd number:  34

After Swap using third Variable:  34 23

Enter the value of the 1st number:  45
Enter the value of the 2nd number:  56

After Swap without using third Variable:  56 45

In [31]:
# Multiplication Table

num = int(input("Enter the number: "))

print("\nMultiplication Table\n")
for i in range(1,21):
    print(f"{num} X {i} = {num*i}")

# Power Table
print("\nPower Table\n")
for i in range(1,21):
    print(f"{num} powered to {i} = {num**i}")

Enter the number:  2

Multiplication Table

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
2 X 20 = 40

Power Table

2 powered to 1 = 2
2 powered to 2 = 4
2 powered to 3 = 8
2 powered to 4 = 16
2 powered to 5 = 32
2 powered to 6 = 64
2 powered to 7 = 128
2 powered to 8 = 256
2 powered to 9 = 512
2 powered to 10 = 1024
2 powered to 11 = 2048
2 powered to 12 = 4096
2 powered to 13 = 8192
2 powered to 14 = 16384
2 powered to 15 = 32768
2 powered to 16 = 65536
2 powered to 17 = 131072
2 powered to 18 = 262144
2 powered to 19 = 524288
2 powered to 20 = 1048576

In [43]:
# Prime Number Checker

n=abs(int(input("Enter a number: ")))

for i in range(2,n):
    if n==1:
        print(f"\nThe number {n} is neither Prime nor Composite.")
        break
    elif n%i==0:
        print(f"\nThe number {n} is not a Prime.")
        break
    else:
        print(f"\nThe number {n} is Prime.")
        break

Enter a number:  -23

The number 23 is Prime.

In [73]:
# Factorial Calculation

def factorial(n):
    n=abs(n)
    prod=1
    for i in range(1,n+1):
        prod=prod*i
    return prod

factorial(-4)

24

In [81]:
# Fibanocci

def fibanocci(n):
    x,y=0,1
    for i in range(n):
        print(x)
        x,y=y,(x+y)

fibanocci(5)

0
1
1
2
3

In [85]:
# Palindrome Checker

text = input("Enter a string: ").lower()

if text==text[::-1]:
    print("The given String is a Palindrome.")
else:
    print("The given text is not a Palindrome.")

Enter a string:  hello

The given text is not a Palindrome.

In [87]:
# Word frequency counter

sentence = input("Enter a sentence: ").upper()
words = sentence.split( )
word_count={}

for word in words:
    word_count[word]=word_count.get(word,0)+1

print(word_count)

Enter a sentence:  hello world

{'HELLO': 1, 'WORLD': 1}

In [93]:
# Text File Read / Write

filename = "sample.txt"
text = input("Enter some text to write to the file: ")

# Write to File

with open(filename, "w") as f:
    f.write(text)

# Read and Print a File

with open(filename,"r") as f:
    content = f.read()
    print("File Content: ", content)

Enter some text to write to the file:  hello hi

File Content:  hello hi

In [101]:
# Exception Handling

try:
    a=float(input("Enter the Numerator: "))
    b=float(input("Enter the Denominator: "))
    result=a/b
    print("Result: ", result)
except ZeroDivisionError:
    print("Error: Cannot divide by Zero.")
except ValueError:
    print("Invalid Input.Please Enter Numbers.")

Enter the Numerator:  4
Enter the Denominator:  5

Result:  0.8

In [103]:
# Create a simple BankAccount class with deposit and withdraw.

class BankAccount:
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self,amount):
        self.balance += amount

    def withdraw(self,amount):
        if amount<=self.balance:
            self.balance -= amount
        else:
            print("Insufficient Balance.")
    
    def show_balance(self):
        print(f"Account Balance: ₹{self.balance}")

Acc = BankAccount("Jwala", 1000000)
Acc.deposit(50000)
Acc.withdraw(20000)
Acc.show_balance()

Account Balance: ₹1030000