In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
data=pd.read_csv("C:/Users/Admin/Downloads/dataBM.csv")

In [12]:
data.shape

(8523, 12)

In [14]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [16]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

# Shuffling and Creating Train and Test Set

In [21]:
from sklearn.utils import shuffle

# Shuffling the dataset
data=shuffle(data,random_state=42)

# Creating 4 divisions

div=int(data.shape[0]/4)
print(div)

2130

In [39]:
# 3 parts to train set and 1 part to test set

a = 3*div+1
b = a+1
print(a)
print(b)
train = data.iloc[:a,:]

6391
6392

In [41]:
test = data.iloc[b:,:]

In [43]:
train.shape

(6391, 12)

In [45]:
test.shape

(2131, 12)

In [47]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7503,FDI28,14.300,Low Fat,0.026300,Frozen Foods,79.4302,OUT013,1987,High,Tier 3,Supermarket Type1,1743.0644
2957,NCM17,7.930,Low Fat,0.071136,Health and Hygiene,42.7086,OUT046,1997,Small,Tier 1,Supermarket Type1,356.8688
7031,FDC14,14.500,Regular,0.041313,Canned,42.0454,OUT049,1999,Medium,Tier 1,Supermarket Type1,377.5086
1084,DRC36,NaN,Regular,0.044767,Soft Drinks,173.7054,OUT027,1985,Medium,Tier 3,Supermarket Type3,5778.4782
856,FDS27,10.195,Regular,0.012456,Meat,197.5110,OUT035,2004,Small,Tier 2,Supermarket Type1,2356.9320

In [49]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
514,FDL48,19.35,Regular,0.082198,Baking Goods,49.2034,OUT013,1987,High,Tier 3,Supermarket Type1,729.0510
7879,NCC06,19.00,Low Fat,0.027028,Household,127.0336,OUT049,1999,Medium,Tier 1,Supermarket Type1,3962.8416
409,DRP35,NaN,Low Fat,0.090427,Hard Drinks,126.2336,OUT027,1985,Medium,Tier 3,Supermarket Type3,3195.8400
6596,NCM29,11.50,Low Fat,0.017678,Health and Hygiene,129.2626,OUT045,2002,NaN,Tier 2,Supermarket Type1,1705.1138
8503,FDQ44,20.50,Low Fat,0.036133,Fruits and Vegetables,120.1756,OUT035,2004,Small,Tier 2,Supermarket Type1,3392.9168

## Simple Mean (Mean of Item Outlet sales)

In [56]:
# Storing simple mean in a new column in the test set as " Simple Mean"
# test['Simple_Mean']=train['Item_Outlet_Sales'].mean()

test = data.iloc[b:,:].copy()
test.loc[:,'simple_mean']=train['Item_Outlet_Sales'].mean()

In [58]:
test.shape

(2131, 13)

In [60]:
# Calculating MAE
from sklearn.metrics import mean_absolute_error as MAE

simple_mean_error = MAE(test['Item_Outlet_Sales'],test['simple_mean'])
simple_mean_error

1368.6145955729774

# Mean Item Outlet Sales with respect to Outlet Type

In [67]:
# out_type=pd.pivot_table(train,values='Item_Outlet_Sales',index=['Outlet_type'],aggfunc=np.mean)

Out_type=pd.pivot_table(train,values='Item_Outlet_Sales',index=['Outlet_Type'],aggfunc=np.mean)
Out_type

C:\Users\Admin\AppData\Local\Temp\ipykernel_19012\1114340639.py:3: FutureWarning: The provided callable <function mean at 0x000001B589408D60> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  Out_type=pd.pivot_table(train,values='Item_Outlet_Sales',index=['Outlet_Type'],aggfunc=np.mean)

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.713738
Supermarket Type1        2269.172538
Supermarket Type2        1961.889047
Supermarket Type3        3735.211455

In [69]:
# Intialize with float to prevent datatype warning

test['Out_type_mean']=0.0

for i in train['Outlet_Type'].unique():
    mean_val=train.loc[train['Outlet_Type']==i, 'Item_Outlet_Sales'].mean()
    test.loc[test['Outlet_Type']==i,'Out_type_mean']=mean_val

In [71]:
test.shape

(2131, 14)

In [73]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,simple_mean,Out_type_mean
514,FDL48,19.35,Regular,0.082198,Baking Goods,49.2034,OUT013,1987,High,Tier 3,Supermarket Type1,729.0510,2154.479628,2269.172538
7879,NCC06,19.00,Low Fat,0.027028,Household,127.0336,OUT049,1999,Medium,Tier 1,Supermarket Type1,3962.8416,2154.479628,2269.172538
409,DRP35,NaN,Low Fat,0.090427,Hard Drinks,126.2336,OUT027,1985,Medium,Tier 3,Supermarket Type3,3195.8400,2154.479628,3735.211455
6596,NCM29,11.50,Low Fat,0.017678,Health and Hygiene,129.2626,OUT045,2002,NaN,Tier 2,Supermarket Type1,1705.1138,2154.479628,2269.172538
8503,FDQ44,20.50,Low Fat,0.036133,Fruits and Vegetables,120.1756,OUT035,2004,Small,Tier 2,Supermarket Type1,3392.9168,2154.479628,2269.172538

In [75]:
# Calculating MAE

Out_type_error = MAE(test['Item_Outlet_Sales'],test['Out_type_mean'])
Out_type_error

1140.4041169399907

# Mean Item Outlet Sales with respect to Outlet Establishment Year

In [80]:
Out_year = pd.pivot_table(train,values='Item_Outlet_Sales',index=['Outlet_Establishment_Year'],aggfunc=np.mean)
Out_year

C:\Users\Admin\AppData\Local\Temp\ipykernel_19012\437914238.py:1: FutureWarning: The provided callable <function mean at 0x000001B589408D60> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  Out_year = pd.pivot_table(train,values='Item_Outlet_Sales',index=['Outlet_Establishment_Year'],aggfunc=np.mean)

                           Item_Outlet_Sales
Outlet_Establishment_Year
1985                             2506.409498
1987                             2255.429990
1997                             2213.285178
1998                              328.811495
1999                             2316.032587
2002                             2163.635786
2004                             2373.476783
2007                             2295.841815
2009                             1961.889047

In [82]:
# Intialize with float to prevent datatype warning

test['Out_year_mean']=0.0

for i in train['Outlet_Establishment_Year'].unique():
    mean_val=train.loc[train['Outlet_Establishment_Year']==i, 'Item_Outlet_Sales'].mean()
    test.loc[test['Outlet_Establishment_Year']==i,'Out_year_mean']=mean_val

In [84]:
test.shape

(2131, 15)

In [88]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,simple_mean,Out_type_mean,Out_year_mean
514,FDL48,19.35,Regular,0.082198,Baking Goods,49.2034,OUT013,1987,High,Tier 3,Supermarket Type1,729.0510,2154.479628,2269.172538,2255.429990
7879,NCC06,19.00,Low Fat,0.027028,Household,127.0336,OUT049,1999,Medium,Tier 1,Supermarket Type1,3962.8416,2154.479628,2269.172538,2316.032587
409,DRP35,NaN,Low Fat,0.090427,Hard Drinks,126.2336,OUT027,1985,Medium,Tier 3,Supermarket Type3,3195.8400,2154.479628,3735.211455,2506.409498
6596,NCM29,11.50,Low Fat,0.017678,Health and Hygiene,129.2626,OUT045,2002,NaN,Tier 2,Supermarket Type1,1705.1138,2154.479628,2269.172538,2163.635786
8503,FDQ44,20.50,Low Fat,0.036133,Fruits and Vegetables,120.1756,OUT035,2004,Small,Tier 2,Supermarket Type1,3392.9168,2154.479628,2269.172538,2373.476783

In [91]:
# Calculating MAE

Out_year_error = MAE(test['Item_Outlet_Sales'],test['Out_year_mean'])
Out_year_error

1265.3586400330598

# Mean Outlet Sales with respect to Outlet location type

In [94]:
Out_loc=pd.pivot_table(train,values='Item_Outlet_Sales', index=['Outlet_Location_Type'],aggfunc=np.mean)
Out_loc

C:\Users\Admin\AppData\Local\Temp\ipykernel_19012\233841609.py:1: FutureWarning: The provided callable <function mean at 0x000001B589408D60> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  Out_loc=pd.pivot_table(train,values='Item_Outlet_Sales', index=['Outlet_Location_Type'],aggfunc=np.mean)

                      Item_Outlet_Sales
Outlet_Location_Type
Tier 1                      1839.154066
Tier 2                      2276.975327
Tier 3                      2281.328336

In [96]:
# Intialize with float to avoid dt warning

test['Out_loc_mean']=0.0

for i in train['Outlet_Location_Type'].unique():
    mean_val=train.loc[train['Outlet_Location_Type']==i,'Item_Outlet_Sales'].mean()
    test.loc[test['Outlet_Location_Type']==i,'Out_loc_mean']=mean_val

In [98]:
# Calculating MAE

Out_loc_error=MAE(test['Item_Outlet_Sales'],test['Out_loc_mean'])
Out_loc_error

1362.9299006313713

# Plot

In [101]:
mae_scores={
    "simple_mean_error": simple_mean_error,
    "Out_type_error": Out_type_error,
    "Out_year_error": Out_year_error,
    "Out_loc_error": Out_loc_error
}

In [105]:
mae_df=pd.DataFrame(list(mae_scores.items()),columns=['Model','MAE']).sort_values(by='MAE')
mae_df

               Model          MAE
1     Out_type_error  1140.404117
2     Out_year_error  1265.358640
3      Out_loc_error  1362.929901
0  simple_mean_error  1368.614596

In [1]:
plt.figure(figsize=(10,5))
plt.barh(mae_df['Model'],mae_df['MAE'],color='purple')
plt.xlabel('MAE')
plt.ylabel('Model')
plt.title('MAE Scores')
plt.gca().invert_yaxis()
plt.show()

NameError: name 'plt' is not defined