In [3]:
#Printing a poem
print("Johnny Johnny, Yes papa!,")
print("\tEating sugar ?, No papa!")
print("\t\tTelling lies ?, No Papa!")
print("\t\t\tOpen Your mouth, Ha Ha Ha!!!")

Johnny Johnny, Yes papa!,
	Eating sugar ?, No papa!
		Telling lies ?, No Papa!
			Open Your mouth, Ha Ha Ha!!!

In [11]:
# Checking our version of Python
import sys

print("Python Version:")
print(sys.version)
print("Version Info:")
print(sys.version_info)

Python Version:
3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]
Version Info:
sys.version_info(major=3, minor=12, micro=7, releaselevel='final', serial=0)

In [15]:
# Python Datetime

import datetime
print(f"Current date and time:{datetime.datetime.now()}")
print(datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

Current date and time:2025-05-13 11:27:47.506087
2025-05-13 11:27:47

In [19]:
# Circle Area Calculator

from math import pi
r = float(input("Enter the radius of the circle:"))
area = pi*r**2
print(f"The area of the cirle with radius {r} is: {area}.")

Enter the radius of the circle: 3.14

The area of the cirle with radius 3.14 is: 30.974846927333925.

In [21]:
# Reverse Full Name

first_name = input("Enter your first name:")
last_name = input("Enter your last name:")
print(f"Reversed Name: {last_name} {first_name}.")

Enter your first name: P
Enter your last name: Jwala

Reversed Name: Jwala P.

In [25]:
# List and Tuple Generator

Values = input("Input some comma separated numbers:")
list_values = Values.split(",")
tuple_values = tuple(list_values)
print(f"List: {list_values}")
print(f"Tuple: {tuple_values}")

Input some comma separated numbers: 8,9,10

List: ['8', '9', '10']
Tuple: ('8', '9', '10')

In [29]:
# File Extension Extractor

filename = input("Input the Filename:\t")
file_extension = filename.split(".")[-1]
print(f"The extension of the file is:\t.{file_extension}")

Input the Filename:	 hi.pdf

The extension of the file is:	.pdf

In [37]:
# First and Last Colors

n=int(input("Enter the number of color: "))
color_list=[]
for i in range(n):
    color=input("\nEnter the name of the colors:").upper()
    color_list.append(color)
print(f"First color: {color_list[0]}")
print(f"Last color: {color_list[-1]}")

Enter the number of color:  3

Enter the name of the colors: green

Enter the name of the colors: brown

Enter the name of the colors: black

First color: GREEN
Last color: BLACK

In [41]:
# Exam Schedule Formatter

Exam_st_date = (14,1,2025)
print("The examination will start from: %i / %i / %i " %(Exam_st_date))

The examination will start from: 14 / 1 / 2025

In [43]:
# Number Expansion Calculator

n= int(input("Enter a number: "))
nn=int(str(n)*2)
nnn=int(str(n)*3)

print("Result: ", n+nn+nnn)

Enter a number:  2

Result:  246

In [53]:
# Function Documentation Printer

from numpy import mean
print(mean.__doc__)

    Compute the arithmetic mean along the specified axis.

    Returns the average of the array elements.  The average is taken over
    the flattened array by default, otherwise over the specified axis.
    `float64` intermediate and return values are used for integer inputs.

    Parameters
    ----------
    a : array_like
        Array containing numbers whose mean is desired. If `a` is not an
        array, a conversion is attempted.
    axis : None or int or tuple of ints, optional
        Axis or axes along which the means are computed. The default is to
        compute the mean of the flattened array.

        .. versionadded:: 1.7.0

        If this is a tuple of ints, a mean is performed over multiple axes,
        instead of a single axis or all the axes as before.
    dtype : data-type, optional
        Type to use in computing the mean.  For integer inputs, the default
        is `float64`; for floating point inputs, it is the same as the
        input dtype.
    out : ndarray, optional
        Alternate output array in which to place the result.  The default
        is ``None``; if provided, it must have the same shape as the
        expected output, but the type will be cast if necessary.
        See :ref:`ufuncs-output-type` for more details.

    keepdims : bool, optional
        If this is set to True, the axes which are reduced are left
        in the result as dimensions with size one. With this option,
        the result will broadcast correctly against the input array.

        If the default value is passed, then `keepdims` will not be
        passed through to the `mean` method of sub-classes of
        `ndarray`, however any non-default value will be.  If the
        sub-class' method does not implement `keepdims` any
        exceptions will be raised.

    where : array_like of bool, optional
        Elements to include in the mean. See `~numpy.ufunc.reduce` for details.

        .. versionadded:: 1.20.0

    Returns
    -------
    m : ndarray, see dtype parameter above
        If `out=None`, returns a new array containing the mean values,
        otherwise a reference to the output array is returned.

    See Also
    --------
    average : Weighted average
    std, var, nanmean, nanstd, nanvar

    Notes
    -----
    The arithmetic mean is the sum of the elements along the axis divided
    by the number of elements.

    Note that for floating-point input, the mean is computed using the
    same precision the input has.  Depending on the input data, this can
    cause the results to be inaccurate, especially for `float32` (see
    example below).  Specifying a higher-precision accumulator using the
    `dtype` keyword can alleviate this issue.

    By default, `float16` results are computed using `float32` intermediates
    for extra precision.

    Examples
    --------
    >>> a = np.array([[1, 2], [3, 4]])
    >>> np.mean(a)
    2.5
    >>> np.mean(a, axis=0)
    array([2., 3.])
    >>> np.mean(a, axis=1)
    array([1.5, 3.5])

    In single precision, `mean` can be inaccurate:

    >>> a = np.zeros((2, 512*512), dtype=np.float32)
    >>> a[0, :] = 1.0
    >>> a[1, :] = 0.1
    >>> np.mean(a)
    0.54999924

    Computing the mean in float64 is more accurate:

    >>> np.mean(a, dtype=np.float64)
    0.55000000074505806 # may vary

    Specifying a where argument:

    >>> a = np.array([[5, 9, 13], [14, 10, 12], [11, 15, 19]])
    >>> np.mean(a)
    12.0
    >>> np.mean(a, where=[[True], [False], [False]])
    9.0

In [57]:
import calendar

Year = int(input("Enter the Year: "))
Month = int(input("Enter the Month: "))
print(calendar.month(Year,Month))

Enter the Year:  2025
Enter the Month:  8

    August 2025
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [61]:
# Print a Multi-line here document

print("""
A string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example
""")

A string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

In [81]:
# Calculate days between dates

from datetime import date

start_date=[]
end_date=[]

date_format =["Year", "Month", "Day"]

for i in date_format:
    x=int(input(f"Enter the start {i}:"))
    start_date.append(x)

for i in date_format:
    x=int(input(f"Enter the end {i}:"))
    end_date.append(x)

start_date = date(*start_date)
end_date = date(*end_date)

delta = end_date - start_date

print(f"Days Between : {delta.days}")

Enter the start Year: 2015
Enter the start Month: 8
Enter the start Day: 20
Enter the end Year: 2015
Enter the end Month: 8
Enter the end Day: 30

Days Between : 10

In [85]:
# Volume of a Sphere

from math import pi
r=float(input("Enter the radius of the Sphere: "))
Volume = (4.0/3.0)*pi*r**3
print("Volume of the Sphere is: ", Volume)

Enter the radius of the Sphere:  6.0

Volume of the Sphere is:  904.7786842338603

In [89]:
# Differnce from 17 

def diff_17(n):
    if n>17:
        return 2*abs(n-17)
    else: 
        return 17-n

print(diff_17(22))
print(diff_17(15))

10
2

In [99]:
# Test whether a number is within 100 of 1000 or 2000

def near_thousand(n):
    return ((abs(1000-n)<=100) or (abs(2000-n)<=100))

print(near_thousand(1000))
print(near_thousand(800))

True
False

In [103]:
# Triple sum calculator
# Calculate the sum of three numbers. If all are equal, return thrice their sum.

def sum_thrice(x,y,z):
    if x==y==z:
        return 3*(x+y+z)
    else:
        return x+y+z

print(sum_thrice(2,4,3))
print(sum_thrice(4,4,4))

9
36

In [113]:
# Prefix "Is" String Modifier

def new_string(text):
    if "Is" in text[:2]:
        return text
    else:
        return "Is"+text

print(new_string("Hi"))
print(new_string("Isfine"))

IsHi
Isfine

In [119]:
# String Copy Generator

def larger_string(text,n):
    return text*n

print(larger_string("Rasa.Ai\t",5))

Rasa.Ai	Rasa.Ai	Rasa.Ai	Rasa.Ai	Rasa.Ai

In [121]:
# Check Even Or Odd

num = int(input("Enter a Number: "))
if num%2==0:
    print("Even.")
else:
    print("Odd.")

Enter a Number:  24

Even.

In [127]:
# Count 4 in List

def list_count_4(nums):
    count = 0
    for num in nums:
        if num == 4:
            count+=1
    return count

print(list_count_4([23,4,5,6,4,2,4,31]))

3

In [141]:
# Vowel Tester

def is_vowel(char):
    return char.lower() in 'aeiou'

print(is_vowel('a'))
print(is_vowel('b'))

True
False

In [143]:
# Value in Group Tester

def is_value_in_group(value, group):
    return value in group

print(is_value_in_group(3, [9,34,56, 3]))
print(is_value_in_group(-1, [56,78, 55, 8, 3]))

True
False

In [147]:
# List Histogram

def histogram(values):
    for i in values:
        print('^'*i)

histogram([3,4,5,1,12,5,9])

^^^
^^^^
^^^^^
^
^^^^^^^^^^^^
^^^^^
^^^^^^^^^